{
    # email some@email.com
    acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}


localhost {

    reverse_proxy /api/* fast_api_prod:5000
    
    encode zstd gzip
	templates
	file_server browse

}


